<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="NAudio" version="1.10.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.0" targetFramework="net472" />
  <package id="Portable.MvvmLightLibs" version="5.0.2.0" targetFramework="net45" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="sqlite-net" version="1.6.292" targetFramework="net472" />
  <package id="taglib" version="2.1.0.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
  <package id="Yandex.Metrica" version="3.5.1" targetFramework="net472" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net45" />
</packages>