<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net45" />
  <package id="Portable.MvvmLightLibs" version="4.2.30.1" targetFramework="net45" />
  <package id="PortableRest" version="2.4.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net45" />
  <package id="Xbox.Music" version="1.0.0" targetFramework="net45" />
  <package id="Yandex.Metrica" version="1.0.5050.55" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="net45" />
</packages>